*.retry
*.log
.vagrant
*-variables.yml

ansible/custom/

ansible/inventories/*
!ansible/inventories/*.example
!ansible/inventories/localhost.ini
!ansible/inventories/sandbox.ini

!ansible/inventories/group_vars/
ansible/inventories/group_vars/*
!ansible/inventories/group_vars/all.yml
!ansible/inventories/group_vars/vagrant.yml

ansible/playbooks/test/
ansible/playbooks/1-machine-setup/local-machine-hosts
ansible/playbooks/1-machine-setup/remote-machine-hosts
ansible/playbooks/**/*.j2

ansible/roles/test/

vagrant/*.tar
