# General settings (common between all environments):
from .base import *

# {{ deployment_env }} environment specific settings:
with open('/apps/etc/secrets/{{ deployment_env }}_{{ project }}_secret_key') as f:
  SECRET_KEY = f.read().strip()
with open('/apps/etc/secrets/{{ deployment_env }}_{{ project }}_db_user_password') as f:
  DATABASES['default']['PASSWORD'] = f.read().strip()

DATABASES['default']['NAME'] = '{{ db }}'
DATABASES['default']['USER'] = '{{ db_user }}'

DEBUG = True
ALLOWED_HOSTS = ['*']

# More settings overrides for {{ deployment_env }} environment:
