---
#https://borgbackup.readthedocs.io/en/stable/usage/create.html
#https://borgbackup.readthedocs.io/en/stable/usage/prune.html
backups:
  - name: examplebackup
    backup_client: sandbox-2
    directories:
      - "/exampledir"
    excludes: []

    backup_server: sandbox-1
    backup_server_user: borg
    repo: examplerepo
    repo_passphrase: "examplepass"
    repo_init_options: "--encryption=repokey"

    backup_options: ""

    prune_options: "--keep-daily=7 --keep-weekly=4"
