---
#https://github.com/borgbackup/borg/releases/latest
borg_version: "1.1.7"

backup_server_user: exampleborguser
backup_server_group: exampleborguser
home: "/home/{{ backup_server_user }}"
pool: "{{ home }}/repos"
