#!/bin/bash -ex

export BORG_RSH="ssh -o StrictHostKeyChecking=no"
export BORG_PASSPHRASE="{{ item.repo_passphrase }}"

REPOSITORY={{ item.backup_server_user }}@{{ item.backup_server }}:{{ item.repo }}

borg prune \
  {{ item.prune_options }} \
  --prefix {{ item.backup_client }}_{{ item.name }}_ \
  $REPOSITORY
